@using System.Linq;
@using System.Threading
@using Blocks
@using Blocks.Framework.Collections
@using Blocks.Framework.Web.Mvc.Extensions
@{
    Layout = ResourceManager.GetTemplateNotCache("_LayoutRoot", this.VirtualPath);//"~/Template/_LayoutRoot.cshtml";
}
@section register
{
    @{
        Style.Require("roboto").AtHead();
        Style.Require("material_icons").AtHead();
        Style.Require("bootstrap_select").AtHead();
        Style.Require("toastr").AtHead();
        Style.Require("sweetalert").AtHead();
        Style.Require("font_awesome").AtHead();
        Style.Require("waves").AtHead();
        Style.Require("animate").AtHead();
        Style.Require("jqGridUI").AtHead();
        Style.Require("layer").AtHead();
        
        Style.Include("/css/materialize.css").AtHead();
        Style.Include("/css/style.css").AtHead();
        Style.Include("/css/themes/all-themes.css").AtHead();
        Style.Include("_Layout.css").AtHead();

        

    }

    @{
        Script.Require("json2");
        Script.Require("bootstrap_select");
        Script.Require("moment");
        Script.Require("jquery_validate");
        Script.Require("jquery_blockUI");
        Script.Require("toastr");
        Script.Require("sweetalert");
        Script.Require("jquery_spin");
        Script.Require("slimscroll");
        Script.Require("waves");
        Script.Require("push");

        Script.Require("blocks");

//        Script.Include("/lib/abp-web-resources/Abp/Framework/scripts/abp.js");
//        Script.Include("/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.jquery.js");
//        Script.Include("/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.toastr.js");
//        Script.Include("/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.blockUI.js");
//        Script.Include("/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.spin.js");
//        Script.Include("/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.sweet-alert.js");
        //Script.Include("../../js/admin.js");
        //Script.Include("../../js/main.js");
       // Script.Include("_Layout.js");
        Script.Include("/lib/signalr/jquery.signalR.js");

        Script.Require("requireJS").SetAttribute("data-main", "/Modules/Blocks.LayoutModule/Template/Tradition/RequireConfig").AtFoot();

    }
}

@section resource
{
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="~/favicon.ico">

    <title>Blocks</title>
    
    @*    <link rel="stylesheet" type="text/css" href="/fonts/material-icons/materialicons.css" > *@
    @*    *@
    @*    <link rel="stylesheet" type="text/css" href="/Modules/Blocks.ResourcesModule/lib/font-awesome/css/font-awesome.css?v=636512628386490276" > *@

}

@section body
{
    <div class="theme-red">
        <!-- Page Loader -->
        <div class="page-loader-wrapper">
            <div class="loader">
                <div class="preloader">
                    <div class="spinner-layer pl-red">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <p>Please wait...</p>
            </div>
        </div>
        <!-- #END# Page Loader -->
        <!-- Overlay For Sidebars -->
        <div class="overlay"></div>
        <!-- #END# Overlay For Sidebars -->
        <!-- Search Bar -->
        <div class="search-bar">
            <div class="search-icon">
                <i class="material-icons">search</i>
            </div>
            <input type="text" placeholder="START TYPING...">
            <div class="close-search">
                <i class="material-icons">close</i>
            </div>
        </div>
        <!-- #END# Search Bar -->
        <!-- Top Bar -->
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                    <a href="javascript:void(0);" class="bars"></a>
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index"><i class="fa fa-cubes"></i> Blocks</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <!-- Call Search -->
                        <li>
                            <a href="javascript:void(0);" class="js-search" data-close="true">
                                <i class="material-icons">search</i>
                            </a>
                        </li>
                        <!-- #END# Call Search -->
                        @Html.Action("LanguageSelection", "Layout")

                        <li class="pull-right">
                            <a href="javascript:void(0);" class="js-right-sidebar" data-close="true">
                                <i class="material-icons">more_vert</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- #Top Bar -->
        <section>
            <aside id="leftsidebar" class="sidebar">

                @Html.Action("SideBarUserArea", "Layout")
                @Html.Action("SideBarNav", "Layout", new { activeMenu = ViewBag.ActiveMenu })

                <!-- Footer -->
                <div class="legal">
                    <div class="copyright">
                        &copy; @DateTime.Now.Year <a href="javascript:void(0);">Blocks</a>.
                    </div>
                    <div class="version">
                        <b>Version </b> @AppVersionHelper.Version [@AppVersionHelper.ReleaseDate.ToString("yyyyMMdd")]
                    </div>
                </div>
                <!-- #Footer -->
            </aside>

            @Html.Action("RightSideBar", "Layout")

        </section>

        <section class="content" >
        @*            <div class="container-fluid">*@
            <div id="container" class="card" style="height:calc(100vh - 90px - 15px)">
                @RenderBody()
            </div>
        </section>
        @RenderSection("body", false)
    </div>
}

@section script
{
    @{
        ResourceManager.GetRegisteredDisplayNonoScripts().ForEach(t => { t.Src = t.Src.Substring(t.Src.IndexOf("/Modules") + "/Modules".Length+1, t.Src.LastIndexOf(".js") - "/Modules".Length-1); }
            );
    }
    <script>
        var blocks = blocks || {};
        (function () {
            blocks.pageContext = {
                listRegisteredJavaScripts: @Html.ConvertToJSObject(ResourceManager.GetRegisteredDisplayNonoScripts()),
                subPageVirtualPath: "@this.ViewBag.subPageVirtualPath",
                subPageJsVirtualPath: "@this.ViewBag.subPageJsVirtualPath",
                subPageCssVirtualPath: "@this.ViewBag.subPageCssVirtualPath",
                moduleName: "@this.ViewBag.extensionName",
                modulePrefix: 'Modules',
                language: '@Thread.CurrentThread.CurrentUICulture.Name'
                    };
        })(blocks);
    </script>
    <script>
        //Localizing momentjs
        @*require(["moment"], function (moment) {
             moment.locale('@Thread.CurrentThread.CurrentUICulture.Name');
        });*@

    </script>

    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    @*<script src="~/api/AbpServiceProxies/GetAll?v=''"></script>
    <script src="~/AbpScripts/GetScripts?v='" type="text/javascript"></script>*@

    <!-- SignalR scripts -->
    @*<script src="~/signalr/hubs"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.signalr.js"></script>*@
    @*    @Html.IncludeScript("~/lib/Abp/Framework/scripts/libs/abp.signalr.js")*@
}